footer{
	margin-top: 50px;
     background:#0d1317;
     padding: 60px 0;
     text-align: center;
 }
 .footer-icons a{
     display:inline-block;
     font-size: 30px;
     margin: 0 10px 20px 10px;
     padding: 2px 5px;
     border-radius: 5px;
     background: #f3f3f5;
     color:#0d1317;
     transition:color 1s ease,transform 1s ease;
 }
 .footer-icons a:hover{
    color:#ab343e;
    transform: translateY(-10px);
}
 footer p{
     color:#f3f3f5;
    font-size:20px;
 }