<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="../css/_footer.css" rel="stylesheet">
    <script src="fontawesome-all.js"></script>
</head>
<body>
	     <footer>
        <!-- copy from banner icons -->
        <div class="footer-icons">
                <a href=""><i class="fab fa-facebook"></i>
                </a>
                <a href=""><i class="fab fa-instagram"></i>
                </a>
                <a href=""><i class="fab fa-pinterest"></i>
                </a>
        </div>
        <p>Copyright &copy; FastAndFaster All rights reserved </p>
    </footer>
</body>
</html>